version: '3'

services:
  nginx:
    image: nginx:latest
    ports:
      - '80:80'
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - auth
      - products
      - orders
    networks:
      - backend

  auth:
    build: ./auth_service
    env_file:
      - ./.env
    environment:
      - DATABASE_URL=${DATABASE_URL_AUTH}
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - auth-db
    networks:
      - backend

  products:
    build: ./product_service
    env_file:
      - ./.env
    environment:
      - DATABASE_URL=${DATABASE_URL_PRODUCT}
    depends_on:
      - product-db
      - kafka
    networks:
      - backend

  orders:
    build: ./order_service
    env_file:
      - ./.env
    environment:
      - DATABASE_URL=${DATABASE_URL_ORDER}
    depends_on:
      - order-db
      - kafka
    networks:
      - backend

  auth-db:
    image: postgres
    env_file:
      - ./.env
    environment:
      - POSTGRES_DB=${AUTH_DB}
      - POSTGRES_USER=${AUTH_USER}
      - POSTGRES_PASSWORD=${AUTH_PASSWORD}
    volumes:
      - auth_data:/var/lib/postgresql/data
    networks:
      - backend

  product-db:
      image: postgres
      env_file:
        - ./.env
      environment:
        - POSTGRES_DB=${PRODUCT_DB}
        - POSTGRES_USER=${PRODUCT_USER}
        - POSTGRES_PASSWORD=${PRODUCT_PASSWORD}
      volumes:
        - product_data:/var/lib/postgresql/data
      networks:
        - backend

  order-db:
    image: postgres
    env_file:
      - ./.env
    environment:
      - POSTGRES_DB=${ORDER_DB}
      - POSTGRES_USER=${ORDER_USER}
      - POSTGRES_PASSWORD=${ORDER_PASSWORD}
    volumes:
      - order_data:/var/lib/postgresql/data
    networks:
      - backend

  zookeeper:
    image: wurstmeister/zookeeper
    volumes:
      - zk_data:/data
    networks:
      - backend

  kafka:
    image: wurstmeister/kafka
    env_file:
      - ./.env
    environment:
      - KAFKA_ZOOKEEPER_CONNECT=${KAFKA_ZOOKEEPER_CONNECT}
      - KAFKA_LISTENERS=${KAFKA_LISTENERS}
      - KAFKA_ADVERTISED_LISTENERS=${KAFKA_ADVERTISED_LISTENERS}
    ports:
      - '9092:9092'
    volumes:
      - kafka_data:/kafka
    networks:
      - backend

volumes:
  auth_data:
  product_data:
  order_data:
  zk_data:
  kafka_data:

networks:
  backend:
