version: '3'

services:
  nginx:
    image: nginx:latest
    ports:
      - '80:80'
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - auth
      - product
      - order
    networks:
      - backend

  auth:
    container_name: auth_service
    build:
      context: ./src/auth_service
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DATABASE_URL=${DATABASE_URL_AUTH}
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - auth-db
    networks:
      - backend

  product:
    container_name: product_service
    build:
      context: ./src/product_service
    ports:
      - "8001:8001"
    env_file:
      - ./.env
    environment:
      - DATABASE_URL=${DATABASE_URL_PRODUCT}
    depends_on:
      - product-db
      - kafka
    networks:
      - backend

  order:
    container_name: order_service
    build: ./order_service
    env_file:
      - ./.env
    environment:
      - DATABASE_URL=${DATABASE_URL_ORDER}
    depends_on:
      - order-db
      - kafka
    networks:
      - backend

  auth-db:
    container_name: auth_db
    image: postgres:18
    env_file:
      - ./.env
    environment:
      - POSTGRES_DB=${AUTH_DB}
      - POSTGRES_USER=${AUTH_USER}
      - POSTGRES_PASSWORD=${AUTH_PASS}
    volumes:
      - auth_data:/var/lib/postgresql
    networks:
      - backend

  product-db:
    container_name: product_db
    image: postgres:18
    env_file:
      - ./.env
    environment:
      - POSTGRES_DB=${PRODUCT_DB}
      - POSTGRES_USER=${PRODUCT_USER}
      - POSTGRES_PASSWORD=${PRODUCT_PASS}
    volumes:
      - product_data:/var/lib/postgresql
    networks:
      - backend

  order-db:
    container_name: order_db
    image: postgres:18
    env_file:
      - ./.env
    environment:
      - POSTGRES_DB=${ORDER_DB}
      - POSTGRES_USER=${ORDER_USER}
      - POSTGRES_PASSWORD=${ORDER_PASS}
    volumes:
      - order_data:/var/lib/postgresql
    networks:
      - backend

  zookeeper:
    image: wurstmeister/zookeeper
    volumes:
      - zk_data:/data
    networks:
      - backend

  kafka:
    image: wurstmeister/kafka
    env_file:
      - ./.env
    environment:
      - KAFKA_ZOOKEEPER_CONNECT=${KAFKA_ZOOKEEPER_CONNECT}
      - KAFKA_LISTENERS=${KAFKA_LISTENERS}
      - KAFKA_ADVERTISED_LISTENERS=${KAFKA_ADVERTISED_LISTENERS}
    ports:
      - '9092:9092'
    volumes:
      - kafka_data:/kafka
    networks:
      - backend

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin_web
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - '5050:80'
    networks:
      - backend
    depends_on:
      - auth-db

volumes:
  auth_data:
  product_data:
  order_data:
  zk_data:
  kafka_data:

networks:
  backend:
